/* 1em = 16px */

/* DESKTOP */
@media (max-width: 1200px) {
  .bright-content > h1 {
    font-size: 5rem;
  }
  .news {
    padding: 1rem 2.2rem;
  }
}

/* NETBOOKS AND big TABLETS */
@media (max-width: 1065px) {
  .bright-content > h1 {
    font-size: 4.6rem;
  }
  .bright-text {
    padding-left: 4rem;
  }

  .topic:first-of-type {
    padding-bottom: 1.3rem;
  }

  .topic:not(.topic:first-of-type) {
    padding: 1.3rem 0;
    border-top: 1px solid var(--Dark-grayish-blue);
  }

  .article-title:link,
  .article-title:visited {
    font-size: 1.6rem;
    margin: 0;
  }

  .content-grid {
    row-gap: 4.8rem;
  }

  .article-content {
    align-self: start;
  }
}

/* SMARTPHONES AND smaller TABLETS ------- BURGER menu   ----------*/
@media (max-width: 900px) {
  /* 900px area triggered? */

  .content-grid {
    grid-template-columns: 1fr;
  }

  .btn-mobile-nav {
    display: block;
  }
  .nav-box {
    background-color: rgba(17, 17, 18, 0.752);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    /* -------- Hiding nav box  -----------*/
    /* 1. Turn the opacity off */
    opacity: 0;
    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3. Hide it from the screen readers */
    visibility: hidden;
  }
  /* ------------- nav-box changes opacity if .nav-open exists !!!!!!!!!!!!!!!! ------------------ */
  .nav-open .nav-box {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
    color: white;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav-open .btn-mobile-nav {
    z-index: 1000;
  }

  .menu {
    flex-direction: column;
    gap: 3.2rem;
  }
  .link-menu:link,
  .link-menu:visited {
    font-size: 4.8rem;
    color: white;
  }
}

@media (max-width: 750px) {
  .articles {
    flex-direction: column;
    justify-content: center;
  }
  .article-img {
    height: 15rem;
    width: auto;
  }
  .article-content {
    gap: 3.6rem;
  }
}
