/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
 */

:root {
  /* Primary */
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  /* Neutral */
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: normal;
  font-weight: 400;
  color: #555;
}

h1 {
  font-size: 5.6rem;
  color: black;
}

h2 {
  font-size: 3.6rem;
  color: var(--Soft-orange);
  margin-bottom: 3.6rem;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

footer {
  text-align: center;
}

.topic:first-of-type {
  padding-bottom: 2.6rem;
}

.topic:not(.topic:first-of-type) {
  padding: 2.6rem 0;
  border-top: 1px solid var(--Dark-grayish-blue);
}

.news {
  background-color: var(--Very-dark-blue);
  padding: 4rem 2.2rem;
}

.news-paragraph {
  font-size: 1.6rem;
}

.colorful-photo {
  width: 100%;
  margin-bottom: 3.6rem;
}

.container {
  display: flex;
  height: 100vh;
}

.content-container {
  /* background-color: rgba(0, 255, 255, 0.345); */
  width: 120rem;
  margin: auto;
  padding: 2.4rem;
}

.menu {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 5rem;
  font-size: 1.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5em 0;
}

.content-grid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 2.4rem;
  row-gap: 6.4rem;
}

.articles {
  grid-column: 1/-1;
}

.bright-content {
  display: flex;
}

.bright-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3.2rem 0 8rem;
  font-size: 1.5rem;
  line-height: 1.4;
  align-items: center;
}
/*----------------------------------- ACTIVE STATES --------------------------*/
/* READ MORE BUTTON */
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--Soft-red);
  align-self: flex-start;
  padding: 1.6rem 3.6rem;
  color: var(--Off-white);
  font-weight: 700;
  letter-spacing: 3px;
}

.btn:hover,
.btn:active {
  background-color: black;
}
/*  */
/* TOPICS LINKS */
.h3-topic-link:link,
.h3-topic-link:visited {
  color: var(--Off-white);
  text-decoration: none;
}

.h3-topic-link:hover,
.h3-topic-link:active {
  color: var(--Soft-orange);
}

/*----------------------------------- ACTIVE STATES --------------------------*/

.big-number {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--Grayish-blue);
}

.article-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--Very-dark-blue);
  margin: 1.6rem 0;
}

.article-paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
}

.articles {
  display: flex;
  gap: 1.6rem;
}

.article-container {
  display: grid;
  grid-template-columns: 13fr 30fr;
  gap: 1.6rem;
  align-items: center;
}

.article-img {
  width: 100%;
}
